.formlogin {
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    height: 100px;
    padding: 10px;
    width: 500px;
    /* background: #00E676; */
}

.layout-formlogin {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.form-labels {
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: space-evenly;

}

.form-inputs{
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: space-evenly;
}

.form-inputs input {
 margin-left: 5px;
}

.form-button {
    display: flex;
    justify-content: center;
}

.form-button button {
    margin: 10px;
    background: #00a354;
    color: #fcfcfc;
    border: solid 1px #00a354;
    border-radius: 4px;
    padding: 3px;
    transition: transform 0.3s ease-in-out;
}

.form-button button:hover {
    transform: scale(1.10);
}